{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Welcome, {{ current_user.username }}</h1>
    <div>
        <h2>Average Sleep Hours: <span id="averageSleepHours"></span></h2>
        <h2>Total Calories: <span id="totalCalories"></span></h2>
        <h2>Mood Trends: <span id="moodTrends"></span></h2>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <canvas id="activityChart"></canvas>
        </div>
        <div class="col-md-6 mb-4">
            <canvas id="nutritionChart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <canvas id="sleepChart"></canvas>
        </div>
        <div class="col-md-6 mb-4">
            <canvas id="moodChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
